<h1>Friends list</h1>

<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addAppFriend()">Add friend</button>
</div>

<div class="favorite">
  <p>My favorite persons are: {{ formatArrayWithAnd(favorite) }}</p>
</div>

<div class="people" *ngFor="let p of people; index as i">
  <app-person
    [person]="p"
    (addFavoritePersonEmitter)="addAppFavorite($event)"
    (removeFavoritePersonEmitter)="removeAppFavorite($event)"
  >
  </app-person>
</div>
